*{
  box-sizing: border-box;
}

.slider {
  position: relative;
}

.slides img {
  display: none;
}

.displaySlide {
  display: block !important;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* ============================================================ */

[data-tab-content] {
  display: none !important;
}

.active[data-tab-content] {
  display: block !important;
}

/* ============================================================== */

.slider {
  position: relative;
}

.slides img {
  display: none; /* یا تنظیم به دلخواه */
}

.displaySlide {
  display: block !important;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.zoom-image {
  position: absolute;
  top: 0;
  left: -50%;
  width: 300px; /* تنظیم اندازه دلخواه */
  height: 300px; /* تنظیم اندازه دلخواه */
  background-repeat: no-repeat !important;
  background-size: 300%;
  border: 1px solid #ccc;
  z-index: 10;
  background: white;
  overflow: hidden;
  display: none;
}

@media screen and (max-width: 992px) {
  .zoom-image {
    display: none !important;
  }
}



.tab {
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease, font-weight 0.3s ease;
  font-weight: normal;
  color: #666; /* رنگ پیش‌فرض برای تب‌ها */
}

.tab.active {
  font-weight: bold;
  color: #000; /* رنگ فعال برای تب‌ها */
}

.tab-content {
  display: none;
  padding: 20px;
  opacity: 0; /* شروع با حالت نامرئی */
  transition: opacity 0.5s ease;
}

.tab-content.active {
  display: block;
  opacity: 1; /* تغییر به حالت قابل مشاهده */
}